<!-- Inheritance -->
{% extends "home.html" %}

<!-- Title Overwrite -->
{% block title %}
    About
{% endblock %}

<!-- Navbar Overwrite -->
{% block navHighlight %}
<div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('table1') }}">Table1</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('table2') }}">Table2</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('about') }}">About</a>
    </li>
    </ul>
    <span class="navbar-text">
    powered by Yanjie Qi & Chikai Shen
    </span>
</div>
{% endblock %}

<!-- Content Overide -->
{% block content %}
<div style="
    padding: 50px;
    text-align: center;
    color: white;
    margin-left: 10%;
    margin-right: 10%;"
>
    <h1 style="margin-bottom: 10%;">About GameStats</h1>
    <p>The goal of the project is to offer tools to analyze gaming platforms, explore gaming industry companies, and search for games desired by the users given a list of available search, sort, and filter options.</p>
    <p>The project provides analysis on various popular games on the market along with information of their publisher companies and their platforms based on data from gaming awards, sales, genres, company stock performance, etc.</p>
</div>
{% endblock %}