<!-- Inheritance -->
{% extends "home.html" %}

<!-- Style Overwrite -->
{% block style %}
<style>
table {
    background-color: rgba(52,58,64,0.6) !important;
}
</style>
{% endblock %}

<!-- Title Overwrite -->
{% block title %}
    Table1
{% endblock %}

<!-- Navbar Overwrite -->
{% block navHighlight %}
<div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('interactiveTable') }}">Interactive Table</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('marketSahre') }}">Share Analysis</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('about') }}">About</a>
    </li>
    </ul>
    <span class="navbar-text">
    powered by Yanjie Qi & Chikai Shen
    </span>
</div>
{% endblock %}

<!-- Content Overide -->
{% block content %}
<h3 style="color: rgba(255,255,255, 0.9);font-family: Arial;"> 
    &#127918;Explore the Game for You. </h3>
<div id="searchBar" style="margin-bottom: 1%;">
    <form action="#" method="post">
        <div class="form-row align-items-center">
          <div class="col-auto my-1">
            <div class="input-group mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Game</div>
                </div>
                <input 
                    list="GameList"
                    type="text" 
                    class="form-control mr-sm-2" 
                    id="inlineFormInput" 
                    placeholder=""
                    name="GameName"
                >
                <datalist id="GameList"></datalist>
            </div>
          </div>

          <div class="col-auto my-1">
            <div class="input-group mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Genre</div>
                </div>
                <input 
                    list="GenreList"
                    type="text" 
                    class="form-control mr-sm-2" 
                    id="inlineFormInput" 
                    placeholder=""
                    name="Genre"
                >
                <datalist id="GenreList"></datalist>
            </div>
          </div>

          <div class="col-auto my-1">
            <div class="input-group mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Platform</div>
                </div>
                <select class="form-control" id="PlatformList" name="Platform">
                    <option value="" selected></option>
                </select>
            </div>
          </div>
          
          <div class="col-auto my-1">
            <div class="input-group mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Award</div>
                </div>
                <select class="form-control" id="AwardList" name="Award">
                    <option value="" selected></option>
                </select>
            </div>
          </div>
          
          <div class="col-auto my-1">
            <div class="input-group mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Sales</div>
                </div>
                <select class="form-control" id="SaleOrder" name="Sales">
                    <option value="True">🔽 Desc</option>
                    <option value="False">🔼 Asc</option>
                </select>
            </div>
          </div>

          <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary mr-sm-2" name="tableSubmit">Search&#128269;</button>
          </div>
        </div>
      </form>
</div>


<div id="tableDiv"></div>

<script type="text/javascript" src="{{ url_for('static', filename='table.js') }}"></script>

<script type="text/javascript">
    var GameList = {{ GameList|tojson }};   // get var from python flask to javascript
    var GenreList = {{ GenreList|tojson }};
    var PlatformList = {{ PlatformList|tojson }};
    var AwardList = {{ AwardList|tojson }};
    // fill options
    fillDataListOptions('GameList',GameList);
    fillDataListOptions('GenreList',GenreList);
    fillDropDownOptions('PlatformList',PlatformList);
    fillDropDownOptions('AwardList',AwardList);

    var header = {{ header|tojson }};
    var table = {{ table|tojson }};
    
    createTable(header, table, 'tableDiv');
  </script>
  

{% endblock %}s