<!-- Inheritance -->
{% extends "home.html" %}

<!-- Title Overwrite -->
{% block title %}
    About
{% endblock %}

<!-- Navbar Overwrite -->
{% block navHighlight %}
<div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('table1') }}">Table1</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('table2') }}">Table2</a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="{{ url_for('about') }}">About</a>
    </li>
    </ul>
    <span class="navbar-text">
    powered by Yanjie Qi & Chikai Shen
    </span>
</div>
{% endblock %}


<!-- Content Overide -->
{% block content %}
<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
{% endblock %}