<!-- Inheritance -->
{% extends "home.html" %}

<!-- Title Overwrite -->
{% block title %}
    About
{% endblock %}

<!-- Navbar Overwrite -->
{% block navHighlight %}
<div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('table1') }}">Table1</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('table2') }}">Table2</a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="{{ url_for('about') }}">About</a>
    </li>
    </ul>
    <span class="navbar-text">
    powered by Yanjie Qi & Chikai Shen
    </span>
</div>
{% endblock %}


<!-- Content Overide -->
{% block content %}

<h1>Crypto Lets Go</h1>
<div id="tableDiv"></div>

<script type="text/javascript" src="{{ url_for('static', filename='table.js') }}"></script>

<script type="text/javascript">
  var data = {{ data|tojson }};   // get var from python flask to javascript
  console.log(data);
  createTable(data, 'tableDiv');
</script>

{% endblock %}